{% extends "bootstrap/base.html" %}

{% block title %}Flasky{% endblock %}

{% block navbar %}
<div class="navbar navbar-fixed-top">
    <!-- ... -->
</div>
{% endblock %}

{% block content %}
<div class="container">
    {% with messages = get_flashed_messages() %}
      {% if messages %}
        {% for message in messages %}
        <div class="alert alert-warning">
            <button type="button" class="close" data-dismiss="alert">&times;</button>
            {{ message }}
        </div>
        {% endfor %}
      {% endif %}
    {% endwith %}
    {% block page_content %}{% endblock %}
</div>
{% endblock %}